STEAM_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
STEAM_USER_ID=76561197960435530 # Robin Walker
CALDAV_PROVIDER="https://myNextCloudserver.org/remote.php/dav/calendars/user"
CALDAV_USERNAME=User
CALDAV_PASSWORD="password"
